body {
    background: rgb(145, 145, 180);
    font: normal  15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: cornsilk;
    border-radius: 10px; /*Ao borda será arredondada*/
    padding: 20px; /*Será a altura da borda*/
    width: 500px; /*Largura da borda*/
    margin: auto; /*centraliza a borda*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384); /*Cria sombra na borda*/
}

footer {
    color: white;
    text-align: center;
    font-style: italic; /*Fonte Itálica*/
}